* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 40vw;
    height: 4vh;
}

button {
    background-color: #007bff;
    width: 6vw;
    height: 4vh;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 90%;
}

#correct {
    color: green;
}

#false {
    color: red;
}
